body{
 font-family: 'Times New Roman', Times, serif;
 margin: 0;
}
h1{
 text-align: center;
 background-color: #eb5300;
 margin: 0%;
 border-radius: 20px;
}
fieldset{
 background-color: #ffdaaf;
 border: 3px solid #d4a87c;
 border-radius: 20px;
 box-shadow: 3px 3px 3px	#d4a87c;
 margin: auto;
 width: 50%;
}
button{
 display: block;
 text-align: center;
 border-radius: 20px;
 width: 100%;
 margin: auto;
 font-family: "Qwitcher Grypen";
 font-size: 30px;
 font-weight: bold;
}
label.alinha{
 display: block;
 text-align: center;
 margin: auto;
}
input{
 border-radius: 20px;
 margin-bottom: 10px;
 width: 150px;
 font-family: "Qwitcher Grypen";
 font-size: 30px;
 font-weight: bold;
 width: 97%;
 text-align: center;
}

p{
 background-color: #ffdaaf;
 border: 3px solid #d4a87c;
 border-radius: 20px;
 box-shadow: 3px 3px 3px	#d4a87c;
 margin: auto;
 width: 50%;
 text-align: center;
 margin-top: 15px;
}
span{
 color: #187c2e;
 font-weight: bolder;
}