fieldset{
 margin-top: 3%;
 border-radius: 15px;
}

table{
 width: 60%;
 border: 1px solid red;
 margin: 30px auto;
 /* O primeiro valor são as distâncias de cima e baixo (top e botton) e o segundo valor são as distâncias da esquerda e direita (left e right)*/
 background-color: darkred;
}

caption{ /* Legenda da tabela */
 color: orange;
 font-weight: bold;
 margin-bottom: 3%;
}

th{/* Cabeçalho da tabela - TABLE HEADER */
 background-color: darkblue;
 color: #ffff;
}

td{/* Linhas da tabela - TABLE DATA */
 text-align: center;
 background-color: lightblue;
}

button{
 display: block;
 margin: auto;
 margin-top: 3%;
}