/* Código cor 632F9E */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');

body {
 font-family: "Noto Sans Mono";
 margin: 0;
}

h1 {
 margin: 0;
 text-align: center;
 border-bottom: 1px solid rgb(37, 20, 55) 372055;
 background-color: rgba(134, 72, 203, 0.4);
 text-shadow: 1px 1px 1px white;
 box-shadow: 0 0 5px 5px rgba(37, 20, 55, 0.8);
 /*
 Forma de deixar o cabeçalho fixo na pagina e movimentar junto com a pagina
 position: sticky;
 top: 0;
 */
}

header{
 margin-bottom: 3%;
}

li a {
 /* Técnica de seletor descendente, só ira funcionar se a ultima tag informada em algum momento ter parentesco com a primeira tag
 - não tem virgula se tiver não é considerado seletor descendente */
 text-decoration: none;
 color: black;

}

/* Retirando o estilo da lista */
ul{
 list-style-type: none;
} 

a:hover{
 text-decoration: underline;
 color: rgb(134, 72, 203);
}

li{
 margin-bottom: 10px;
}

footer a{
 text-decoration: none;
 color: black;
 font-weight: bold;
}

footer a:hover{
 color: rgb(134, 72, 203);
}

nav{
 width: 20%;
 float: left;
}
main{
 width: 65%;
 float: right;
}

footer{
 clear: both;
 position: absolute;
 bottom: 0;
 left: 50%;
 transform: translate(-50%);
 width: 98%;
 text-align: center;
}